<% for (var i = 0; i < services.length; i++) {
	var service = services[i];
	if(i%3 == 0) {
%>
<div class="row">
<% } %>
  	<div class="4u">
    	<section class="box">
      		<center><h2><%= service.name %></h2></center>
      		<br>
      		<header>
        		<ul>
					NEED TO WORK ON THIS
					<%  
					%>
        			<li><a href="<%=url[j]  %>"><h1><%= agency[j]></h1></a>
        			</li>
					<% } %>
        		</ul>
      		</header>
    	</section>
  	</div>
<%	if(i%3 == 0) { %>
</div>
<% } %>
<% } %>
