<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrator Dashboard</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/prettify.css" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/prettify.js"></script>

    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <link href="css/bootstrap-multiselect.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
    <script src="/admin/js/app.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            window.prettyPrint() && prettyPrint();
        });
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Administrator Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="agencies.html">Agencies</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="survey.html">Survey</a></li>
            <li><a href="updates.html">Updates</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li class="active"><a href="agencies.html">Agencies <span class="sr-only">(current)</span></a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="survey.html">Survey</a></li>
            <li><a href="updates.html">Updates</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="AdminApp">

          <h1 class="page-header">Agencies</h1>
          <div class="col-md-4" ng-controller="addAgencyCtrl">
            <form class="form-signin">
              <div class="form-group">
                <input id = "agencyDiv" type="text" class="form-control" placeholder="Name" ng-model="agency.name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="URL" ng-model="agency.url">
              </div>
              <div class="form-group">
                <textarea type="text" class="form-control" placeholder="Description" ng-model="agency.description"></textarea>
              </div>
              <pre>form = {{agency | json}}</pre>
              <div ng-app="ServiceApp">
                <div ng-controller="serviceCtrl">
                <h3>Services: </h3>
                    <!-- {{services}} -->
                    <div class="checkbox" ng-repeat="service in services">
                      <label>
                        <input type="checkbox" id="{{service._id}}">{{service.name}}
                      </label>
                    </div>
                  <!-- <button type ="reset" id ="btn-reset" class="btn btn-default">Reset</button> -->
                </div>
              </div>

              <center>
                <button type ="submit" id ="btn-submit" class="btn btn-success">Submit</button>
              </center>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
